@font-face {
   font-family: "Poppins";
   src: url("../fonts/Poppins-Regular.woff2") format("woff");
}

@font-face {
   font-family: "Poppins Medium";
   src: url("../fonts/Poppins-Medium.woff2") format("woff");
}

@font-face {
   font-family: "Poppins SemiBold";
   src: url("../fonts/Poppins-SemiBold.woff2") format("woff");
}

@font-face {
   font-family: "Poppins Bold";
   src: url("../fonts/Poppins-Bold.woff2") format("woff");
}

@font-face {
   font-family: "Poppins Black";
   src: url("../fonts/Poppins-Black.woff2") format("woff");
}
