@media (min-width: 340px) {
   .header-avatar {
      width: 30rem;
      height: 27rem;
   }
}

@media (max-width: 310px) {
   .resume-category:first-child {
      margin-top: 3rem !important;
   }

   .resume-category:last-child {
      margin-bottom: 3rem !important;
   }
}

@media (max-width: 490px) {
   .resume-category {
      font-size: 1.3rem !important;
      padding: 0 0.8rem !important;
   }
}

/* sm */

@media (max-width: 576px) {
   .resume-category {
      font-size: 1.4rem;
   }

   .explain-head__date {
      display: none;
   }

   .resum-explain--show {
      border: none;
   }

   .explain-head__title::before {
      content: none;
   }

   .resume-category {
      padding: 0 1rem;
   }
}

@media (min-width: 576px) {
   .container {
      width: 540px;
   }

   .header__logo {
      margin-left: 3.3rem;
   }

   .menu-toggler {
      margin-right: 3.3rem;
   }

   .header-avatar {
      width: 31rem;
      height: 31rem;
   }

   .header {
      padding-bottom: 15rem;
      background-size: 80rem;
   }

   .portfolio-list {
      flex-direction: row;
      justify-content: center;
   }

   .form__input,
   .form__text-area {
      padding: 2rem;
      font-size: 1.8rem;
   }
}

/* md */

@media (max-width: 768px) {
   .resume-categories {
      flex-direction: row;
      flex-wrap: wrap;
      height: auto;
      min-height: auto;
      align-items: center;
      justify-content: center;
   }

   .resume-categories::before {
      content: none;
   }

   .resume-category {
      background-color: var(--primary-color);
      margin: 1rem 2rem;
      /* margin-bottom: 4rem; */
      padding: 0 3rem;
      border-radius: 5rem;
   }

   .resume-category:first-child {
      margin-top: auto;
   }

   .resume-category::before {
      content: none;
   }

   .resume-category__icon {
      display: none;
   }

   .explain-head__date {
      font-size: 1.2rem;
   }
}

@media (min-width: 768px) {
   .container {
      width: 720px;
   }

   .header {
      padding-bottom: 15rem;
      background-size: 100rem;
   }

   .navbar-wraper {
      align-items: center;
   }

   .menu-toggler {
      display: none;
   }

   .menu {
      position: static;
      height: auto;
   }

   .menu__items {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-end;
   }

   .menu__item--hide {
      display: none;
   }

   .header__logo {
      margin-left: 3.9rem;
   }

   .menu {
      margin-right: 2.6rem;
   }

   .header-avatar {
      width: 38rem;
      height: 38rem;
   }

   .header-content__introduce {
      font-size: 2.3rem;
   }

   .header-content__title {
      font-size: 3.5rem;
   }

   .header-content__text {
      font-size: 2rem;
   }

   .header-content__buttuns {
      flex-direction: row;
   }

   .header-content__btn--orange {
      margin-top: 0;
      margin-left: 2rem;
   }

   .about-us__links {
      flex-direction: row;
      max-width: none;
      margin-right: auto;
      margin-left: 0;
   }

   .about-us__link--orange {
      margin-left: 1.5rem;
      margin-top: 0;
   }

   .services-row {
      flex-direction: row;
   }

   .form-wrapper {
      margin-left: auto;
   }
}

@media (min-width: 768px) and (max-width: 800px) {
   .menu__item-link {
      font-size: 1.4rem;
   }
   .resumes-explain-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
}

/* lg */

@media (min-width: 768px) and (max-width: 992px) {
   .resume-categories {
      min-height: 54.6rem;
   }
}

@media (min-width: 992px) {
   .container {
      width: 960px;
   }

   .header {
      padding-bottom: 30rem;
      background-size: 140rem;
   }

   .menu__item--hide {
      display: list-item;
   }

   .header__logo {
      margin-left: 3.3rem;
   }

   .menu {
      margin-right: 3.3rem;
   }

   .header-row {
      flex-direction: row-reverse;
      justify-content: center;
      margin: 20rem 2rem 2.5rem 1rem;
   }

   .header-content {
      align-items: flex-start;
      text-align: start;
   }

   .about-us-row {
      flex-direction: row;
   }

   .touch-wrapper {
      padding: 15rem 0;
   }

   .form-wrapper {
      position: relative;
   }

   .form__map {
      display: flex;
   }
}

/* xl */

@media (min-width: 1200px) {
   .container {
      width: 1140px;
   }

   .header {
      padding-bottom: 40rem;
      background-size: 140rem;
   }

   .header__logo {
      margin-left: 5.5rem;
   }

   .menu {
      margin-right: 5.5rem;
   }

   .header-avatar {
      width: 42rem;
      height: 42rem;
   }

   .resumes-row {
      justify-content: center;
   }
}

/* xxl */

@media (min-width: 1400px) {
   .container {
      width: 1370px;
   }

   .header {
      background-size: auto;
   }

   .header__logo {
      margin-left: 3rem;
   }

   .menu {
      margin-right: 3rem;
   }

   .form__map {
      left: -100%;
   }
}
